{% assign t = site.data.[page.lang] %}
<section class="container mailing">
    <div>
        <p class="title">{{ t.mailing.title }}</p>
        <form action="//scaleconfco.us13.list-manage.com/subscribe/post?u=5e496acbac5eeec4a22312bd0&amp;id=96c6dc44ae" method="post">
            <input type="email" name="EMAIL" placeholder="" class="form-email"/>
            <input type="submit" value="{{ t.mailing.button }}" class="emailSubscribe blueButton form-button" onclick="ga('send', 'event', 'button', 'click', 'Join mailing list');"/>
        </form>
        <p class="title">{{ t.mailing.follow }}</p>
        {% include social.html %}
    </div>
</section>