.glitch-filter {
  display: block;
  position: relative;
  text-align: center;
  margin: 0;
  & &__filtered-text {
    filter: url(#filter);
    fill: white;
    font-size: 100px;
    text-align: center;
    margin: 0;
    padding: 0;
    display: block;
  }
}

.top-r {
  stroke: #ffffff;
  stroke-width: 100px;
  animation: topani 3.5s linear infinite;
}

.bot-r {
  stroke: #ffffff;
  stroke-width: 100px;
  animation: botani 4s linear infinite;
}

.top-g {
  stroke: #ffffff;
  stroke-width: 50px;
  animation: topani 4s linear reverse infinite;
}

.bot-g {
  stroke: #ffffff;
  stroke-width: 50%;
  animation: botani 3.5s linear reverse infinite;
}

@mixin createRandomKeyframes( $numberOfKeys ) {
  $delta: round(100/$numberOfKeys);
  
  @for $i from 1 through $numberOfKeys {
    $time: ($i*$delta - random($delta)) +'%';
    #{$time} {
      stroke-width: random(200) + px;
    }
  }
}

@keyframes topani {
  @include createRandomKeyframes( 10 + random(10) );
}

@keyframes botani {
  @include createRandomKeyframes( 10 + random(10) );
}