<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  {% include internal_header.html %}
  <section class="speaker">
    <div>
      <img src="/images/speakers/{{ page.photo }}" alt="{{ page.twitter }}" class="speakerImg">
      <a class="speakerTwitter" href="https://www.twitter.com/{{ page.twitter }}"><i class="icon twitter" alt="twitter"></i></a>
      <p class="speakerName">{{ page.name }}</p>
      <p class="speakerDescription">{{ page.description }}</p>
    </div>
    <div>
      {{ content }}
    </div>
  </section>
	{% include footer.html %}
</body>
</html>
